/* Small only */
@media screen and (max-width: 39.9375em) {
    /*
        Preventing FOUC
        http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
    */
    .no-js .top-bar {
        display: none;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .top-bar, .top-bar ul {
        background-color: #fff;
    }


    /*
        Preventing FOUC
        http://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc
    */
    .no-js .title-bar {
        display: none;
    }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}